/* SearchBar.css */
.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 40px auto;
    position: relative;
    transition: transform 0.3s ease-in-out;
   }
   .search-bar input {
    width: 100%;
    padding: 20px;
    font-size: 1.2em;
    border: 2px solid var(--highlight-light);
    border-radius: 10px 0 0 10px;
    outline: none;
    background-color: var(--secondary-light);
    color: var(--text-light);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
   }
   .search-bar button {
    padding: 20px;
    font-size: 1.2em;
    background-color: var(--highlight-light);
    border: 2px solid var(--highlight-light);
    border-radius: 0 10px 10px 0;
    color: var(--text-light);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.1s ease-in-out;
   }
   .search-bar button:hover {
    transform: scale(1.05);
    background-color: var(--border-light);
   }
   