/* frontend/src/styles/App.css */

:root {
  --soft-white: #F4FAFF;
  --light-gray: #DEE7E7;
  --lavender-gray: #B7ADCF;
  --dark-gray: #4F646F;
  --almost-black: #535657;

  --highlight-light: #B7ADCF; /* Example variable, adjust as needed */
  --secondary-light: #F4FAFF;
  --border-light: #DEE7E7;
  --text-light: #535657;
}

.App.light {
  background-color: var(--soft-white);
  color: var(--text-light);
}

.App.dark {
  background-color: var(--almost-black);
  color: var(--soft-white);
}

/* Add additional global styles as needed */

